In [3]:
import pandas as pd
label_df = pd.read_csv('D:/big_data_final_projedt_2023/assignment2/images_cuisines_price.csv',encoding='ISO-8859-1')
label_df.shape

(152388, 7)

In [5]:
label_df.head()

,image_id,image_url,restaurant_name_x,objectID,cuisine_category,label_fromprice,expensiveness_category
0,2088757,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/8...,Strofilia,78848,greek,A moderate spend,mid-range
1,2182000,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/7...,Strofilia,78848,greek,A moderate spend,mid-range
2,4151606,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/b...,Strofilia,78848,greek,A moderate spend,mid-range
3,4151588,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/9...,Strofilia,78848,greek,A moderate spend,mid-range
4,2224983,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/2...,Strofilia,78848,greek,A moderate spend,mid-range

In [9]:
label_df.iloc[0]

image_id                                                            2088757
image_url                 https://axwwgrkdco.cloudimg.io/v7/__gmpics__/8...
restaurant_name_x                                                 Strofilia
objectID                                                              78848
cuisine_category                                                      greek
label_fromprice                                            A moderate spend
expensiveness_category                                            mid-range
Name: 0, dtype: object

In [ ]:
expensiveness_df = label_df[['image_id','expensiveness_category']]
expensiveness_df[expensiveness_df.duplicated(keep=False)]

Duplicates exist ,so we need to drop them from label dataset for the expensiveness of restaurants

In [7]:
expensiveness_df = expensiveness_df.drop_duplicates(keep='first')
expensiveness_df.to_csv('D:/big_data_final_projedt_2023/assignment2/expensiveness_unduplicated.csv')

In [9]:
expensiveness_df['expensiveness_category'].value_counts()

mid-range     48689
premium       36754
luxury        21768
affordable     8450
Name: expensiveness_category, dtype: int64

In [16]:
expensiveness_df.head()

   image_id expensiveness_category
0   2088757              mid-range
1   2182000              mid-range
2   4151606              mid-range
3   4151588              mid-range
4   2224983              mid-range

In [14]:
import os
import shutil
toy_dataset = 'D:/big_data_final_projedt_2023/assignment2/samllsize_images'
image_list = os.listdir(toy_dataset)
image_list = [img.rstrip('.jpg') for img in image_list ]
image_list

['1000495',
 '1001236',
 '1002344',
 '1005450',
 '1006260',
 '1007023',
 '1007222',
 '1008385',
 '1009442',
 '1009655',
 '1009913',
 '1011895',
 '1012405',
 '1012761',
 '1012835',
 '1013600',
 '1015111',
 '1015260',
 '1015837',
 '1016042',
 '1016185',
 '1018115',
 '1018391',
 '1018897',
 '1019033',
 '1024295',
 '1028120',
 '1031773',
 '1033898',
 '1036281',
 '1037960',
 '1041359',
 '1041714',
 '1042302',
 '1042667',
 '1043927',
 '1046424',
 '1048787',
 '1049155',
 '1058211',
 '1060704',
 '1072115',
 '1073059',
 '1074299',
 '1075320',
 '1075427',
 '1080597',
 '1090959',
 '1092866',
 '1100669',
 '1101020',
 '1107075',
 '1107988',
 '1111616',
 '1120910',
 '1122588',
 '1122661',
 '1131102',
 '1137978',
 '1142536',
 '1143590',
 '1143942',
 '1150063',
 '1150273',
 '1151243',
 '1152238',
 '1152741',
 '1153237',
 '1153632',
 '1154034',
 '1155062',
 '1157337',
 '1158341',
 '1163167',
 '1164829',
 '1168242',
 '1168734',
 '1169370',
 '1169374',
 '1171345',
 '1174629',
 '1175750',
 '1179039',
 '1182647',
 '1182868',
 '1183070',
 '1183351',
 '1184471',
 '1189644',
 '1190495',
 '1191145',
 '1191289',
 '1192755',
 '1195415',
 '1195915',
 '1196490',
 '1197215',
 '1197648',
 '1197721',
 '1198780',
 '1199239',
 '1199879',
 '1201901',
 '1203677',
 '1205231',
 '1208019',
 '1210412',
 '1212076',
 '1212986',
 '1216476',
 '1216551',
 '1217679',
 '1218233',
 '1218423',
 '1219041',
 '1219504',
 '1220385',
 '1220509',
 '1221582',
 '1224288',
 '1224754',
 '1224966',
 '1226518',
 '1230059',
 '1230203',
 '1231637',
 '1233750',
 '1236357',
 '1241737',
 '1242377',
 '1249060',
 '1254820',
 '1258690',
 '1259596',
 '1260447',
 '1261017',
 '1261848',
 '1262700',
 '1267842',
 '1269312',
 '1270065',
 '1271379',
 '1275177',
 '1276554',
 '1277326',
 '1277892',
 '1278592',
 '1279104',
 '1280622',
 '1280784',
 '1281077',
 '1281612',
 '1285145',
 '1286803',
 '1303365',
 '1304578',
 '1309449',
 '1310637',
 '1310758',
 '1311077',
 '1311278',
 '1319923',
 '1321722',
 '1322716',
 '1325114',
 '1326047',
 '1328004',
 '1329958',
 '1331341',
 '1332890',
 '1338800',
 '1340946',
 '1343006',
 '1344036',
 '1347032',
 '1351241',
 '1351395',
 '1356492',
 '1356708',
 '1361243',
 '1362338',
 '1362472',
 '1362554',
 '1363459',
 '1365802',
 '1367450',
 '1368940',
 '1369087',
 '1371721',
 '1373359',
 '1373421',
 '1374375',
 '1374792',
 '1375515',
 '1377476',
 '1379350',
 '1384612',
 '1386471',
 '1387247',
 '1393199',
 '1395462',
 '1396864',
 '1402571',
 '1403079',
 '1403261',
 '1403793',
 '1408490',
 '1409464',
 '1410602',
 '1410903',
 '1415574',
 '1417213',
 '1418600',
 '1421195',
 '1421870',
 '1422236',
 '1422605',
 '1424473',
 '1825462',
 '1825810',
 '1826262',
 '1827612',
 '1831802',
 '1833046',
 '1869942',
 '1874280',
 '1874286',
 '1878186',
 '1878923',
 '1879214',
 '1879575',
 '1887743',
 '1887942',
 '1888473',
 '1890068',
 '1893357',
 '1895161',
 '1895284',
 '1908148',
 '1909065',
 '1909908',
 '1911837',
 '1914394',
 '1917174',
 '1918928',
 '1919383',
 '1920478',
 '1924087',
 '1934005',
 '1934141',
 '1939075',
 '1945146',
 '1947364',
 '1949632',
 '1950439',
 '1950948',
 '1956738',
 '1956805',
 '1985041',
 '1985902',
 '1987636',
 '1988394',
 '1989944',
 '1990631',
 '1995598',
 '2002348',
 '2003006',
 '2005569',
 '2006918',
 '2009334',
 '2010842',
 '2011165',
 '2011299',
 '2014543',
 '2016696',
 '2021188',
 '2022675',
 '2029188',
 '2029927',
 '2030471',
 '2031198',
 '2031694',
 '2032430',
 '2033573',
 '2034286',
 '2038744',
 '2042376',
 '2043145',
 '2045818',
 '2047557',
 '2056833',
 '2057289',
 '2057394',
 '2061355',
 '2067279',
 '2069182',
 '2069407',
 '2070473',
 '2071091',
 '2071095',
 '2071337',
 '2071545',
 '2072250',
 '2073114',
 '2073554',
 '2074617',
 '2074618',
 '2075395',
 '2091543',
 '2100401',
 '2104340',
 '2114566',
 '2115045',
 '2122331',
 '2123438',
 '2123517',
 '2125764',
 '2126343',
 '2127104',
 '2129461',
 '2134083',
 '2136606',
 '2138422',
 '2141167',
 '214162',
 '2142137',
 '2146406',
 '2148602',
 '215568',
 '2157279',
 '215958',
 '2162077',
 '216231',
 '2166240',
 '2167544',
 '2170363',
 '2176958',
 '2177102',
 '2178419',
 '2179024',
 '2179662',
 '2179932',
 '2180166',
 '2183255',
 '2183362',
 '2183707',
 '2189471',
 '2191296',
 '2197200',
 '2200278',
 '2203900',
 '2206409',
 '2207078',
 '2207523',
 '2216756',
 '2217125',
 '2219032',
 '2225438',
 '2226004',
 '2227163',
 '2227946',
 '2229171',
 '2234137',
 '2236898',
 '2237152',
 '2237392',
 '2239677',
 '2244979',
 '2245118',
 '2247703',
 '2249372',
 '2251761',
 '2257304',
 '2257470',
 '2260291',
 '2260379',
 '2264924',
 '2266632',
 '2269312',
 '2269566',
 '2274500',
 '2276198',
 '2277376',
 '2280879',
 '2286700',
 '2289415',
 '2290032',
 '2291765',
 '2292172',
 '2294566',
 '2296185',
 '2296532',
 '2297417',
 '232386',
 '232470',
 '233433',
 '234423',
 '234452',
 '242124',
 '243189',
 '243492',
 '251193',
 '253265',
 '254174',
 '257621',
 '258702',
 '261012',
 '2645284',
 '2645876',
 '2646227',
 '2684385',
 '2685919',
 '2688204',
 '2689596',
 '2690281',
 '2690856',
 '2695974',
 '2696617',
 '2697427',
 '2700867',
 '2701022',
 '2701082',
 '283738',
 '284127',
 '285986',
 '286171',
 '287389',
 '291081',
 '291559',
 '291700',
 '291774',
 '292787',
 '293265',
 '295956',
 '296100',
 '296301',
 '297613',
 '301715',
 '302059',
 '309685',
 '3113623',
 '3113726',
 '3149514',
 '3159170',
 '3160894',
 '3165404',
 '3167544',
 '3169517',
 '334274',
 '335393',
 '337004',
 '348694',
 '349992',
 '350563',
 '351600',
 '352656',
 '353894',
 '354574',
 '355147',
 '357995',
 '359504',
 '361203',
 '361355',
 '3621856',
 '364477',
 '367786',
 '373632',
 '374009',
 '376642',
 '3832923',
 '3833538',
 '3833622',
 '3925632',
 '3934141',
 '3962568',
 '3963197',
 '3963282',
 '3983226',
 '3984236',
 '3984303',
 '4035105',
 '4052161',
 '4052760',
 '4056333',
 '4070050',
 '4076131',
 '4076167',
 '4081156',
 '4082364',
 '4083173',
 '4086383',
 '4092451',
 '4093072',
 '4099920',
 '4103055',
 '410841',
 '4111497',
 '4115058',
 '412431',
 '415001',
 '4153239',
 '4153590',
 '4156532',
 '4159856',
 '4162138',
 '416384',
 '4164115',
 '4165113',
 '4165889',
 '4166132',
 '416966',
 '4176900',
 '4181346',
 '4182481',
 '418860',
 '419083',
 '4192020',
 '419440',
 '4195273',
 '4196672',
 '419884',
 '420276',
 '4205327',
 '4207803',
 '4209540',
 '4211705',
 '4215312',
 '4215441',
 '4231267',
 '4239587',
 '425885',
 '4259818',
 '426167',
 '427767',
 '4291523',
 '4334861',
 '439408',
 '4405631',
 '443514',
 '443756',
 '445268',
 '4461992',
 '4462050',
 '4463500',
 '4465013',
 '4465160',
 '4466048',
 '4473080',
 '4474675',
 '4480049',
 '448439',
 '449201',
 '4503708',
 '4509423',
 '4511504',
 '4512912',
 '4514924',
 '4516599',
 '4519285',
 '4519850',
 '452000',
 '4520310',
 '4531743',
 '4533274',
 '453413',
 '4535558',
 '4537634',
 '4544980',
 '4545004',
 '4550820',
 '4550904',
 '455852',
 '4559069',
 '4565201',
 '4565266',
 '4568507',
 '4568689',
 '4569692',
 '4573775',
 '4583661',
 '4586128',
 '4587477',
 '4590147',
 '4590334',
 '4591650',
 '4591942',
 '4595317',
 '4596939',
 '4602801',
 '4602810',
 '4604630',
 '460886',
 '4611298',
 '4612288',
 '4614397',
 '4615298',
 '4617645',
 '4620690',
 '4625171',
 '4625470',
 '4627097',
 '4632375',
 '4632734',
 '4633426',
 '463378',
 '4643081',
 '4646433',
 '4648260',
 '4648300',
 '4649085',
 '464938',
 '4652889',
 '465398',
 '4654796',
 '4657635',
 '4659332',
 '4660330',
 '466069',
 '4661665',
 '4662099',
 '4662358',
 '4662391',
 '4664417',
 '4669607',
 '4672279',
 '467420',
 '467758',
 '4680604',
 '4680901',
 '4689708',
 '469920',
 '4705428',
 '4706670',
 '4708138',
 '470833',
 '470981',
 '4710121',
 '4712284',
 '473973',
 '4749290',
 '4749912',
 '4750786',
 '4756957',
 '4757342',
 '4760811',
 '4764096',
 '4768526',
 '4773141',
 '4776998',
 '4778335',
 '4784354',
 '478708',
 '4791411',
 '479169',
 '4794781',
 '4796197',
 '4803024',
 '4806701',
 '4807469',
 '4809193',
 '4810497',
 '4810684',
 '4811922',
 '4813509',
 '4814070',
 '4815482',
 '4819434',
 '482081',
 '4821032',
 '4821458',
 '4821793',
 '482693',
 '4827807',
 '4828024',
 '4828058',
 '4832049',
 '4838437',
 '4840132',
 '4840216',
 '484362',
 '4846193',
 '484789',
 '4850823',
 '4851419',
 '4852938',
 '4854187',
 '4857206',
 '4863332',
 '4867621',
 '4870780',
 '4871863',
 '4875609',
 '4875679',
 '4877100',
 '488191',
 '4884784',
 '4900099',
 '4900307',
 '4900402',
 '4908199',
 '4908679',
 '4910140',
 '4917993',
 '4925598',
 '4932749',
 '493292',
 '493654',
 '493858',
 '4958150',
 '496196',
 '496341',
 '4965412',
 '497071',
 '4972004',
 '4974790',
 '4977329',
 '4979636',
 '4983195',
 '4983491',
 '498692',
 '498758',
 '499545',
 '4996585',
 '4996732',
 '499847',
 '4999718',
 '5004994',
 '5007206',
 '5007783',
 '501098',
 '5012451',
 '5012920',
 '5014429',
 '501463',
 '5018052',
 '5021399',
 '5021638',
 '502416',
 '5026048',
 '5028814',
 '5030269',
 '5031569',
 '5031878',
 '5034359',
 '5041405',
 '5041622',
 '5042723',
 '504818',
 '5061756',
 '5064311',
 '5065041',
 '5066706',
 '5066752',
 '5067909',
 '5074135',
 '507419',
 '5076663',
 '508736',
 '509939',
 '511300',
 '5117115',
 '5119263',
 '5126700',
 '5129502',
 '5134999',
 '5136774',
 '5139784',
 '5140292',
 '5145535',
 '5150092',
 '5156392',
 '5157206',
 '5157248',
 '5158360',
 '5159134',
 '5160010',
 '5162916',
 '5163455',
 '5165688',
 '5174374',
 '5190045',
 '5194316',
 '5288080',
 '5288823',
 '5290599',
 '5294303',
 '5294651',
 '5299152',
 '5300230',
 '5303193',
 '5303466',
 '5303948',
 '5307472',
 '5307493',
 '5307827',
 '5313391',
 '5315138',
 '5319859',
 '5321901',
 '5322037',
 '5324381',
 '5329505',
 '5329564',
 '5333103',
 '5333776',
 '5342089',
 '5345711',
 '5345908',
 '5346026',
 '5347718',
 '5348976',
 '5349460',
 '5349829',
 '5350160',
 '5350424',
 '5350459',
 '5350693',
 '5351482',
 '5355271',
 '5359886',
 '5360342',
 '5369985',
 '5370144',
 '5376321',
 '5378127',
 '5380889',
 '5388323',
 '5395470',
 '5396539',
 '5401520',
 '5402020',
 '5402275',
 '5403180',
 '5405987',
 '5407871',
 '5409255',
 '5409572',
 '5410531',
 '5414102',
 '5414111',
 '5418511',
 '5423531',
 '5427246',
 '5433885',
 '5443536',
 '5448624',
 '5449255',
 '5457123',
 '5457581',
 '5465766',
 '5469096',
 '5471022',
 '5472050',
 '5472329',
 '5475790',
 '5476420',
 '5476490',
 '5480111',
 '5490632',
 '5494990',
 '5495064',
 '5509547',
 '5522027',
 '5524772',
 '5525870',
 '5536151',
 '5548969',
 '5556677',
 '5558673',
 '5560372',
 '5561533',
 '5566712',
 '5578001',
 '5585843',
 '5587244',
 '5591259',
 '5593006',
 '5595864',
 '5598029',
 '5607764',
 '5612835',
 '5613393',
 '5614521',
 '5615675',
 '5621775',
 '5624139',
 '5635012',
 '5635266',
 '5638749',
 '648715',
 '648748',
 '648793',
 '649052',
 '649886',
 '650163',
 '650651',
 '652198',
 '653254',
 '656460',
 '658762',
 '659572',
 '660524',
 '661674',
 '662202',
 '662336',
 '664079',
 '664861',
 '666373',
 '668672',
 '669396',
 '670802',
 '671367',
 '672167',
 '675511',
 '675515',
 '677125',
 '678975',
 '679840',
 '680131',
 '687656',
 '688916',
 '689026',
 '689183',
 '693270',
 '693764',
 '695176',
 '697027',
 '699509',
 '700352',
 '701028',
 '701825',
 '702714',
 '704404',
 '706646',
 '712740',
 '714499',
 '716256',
 '717826',
 '718484',
 '730863',
 '732390',
 '733312',
 '734583',
 '737349',
 '742843',
 '743647',
 '745189',
 '748383',
 '750041',
 '750956',
 '754591',
 '754819',
 '755350',
 '756410',
 '756633',
 '756634',
 '757983',
 '760260',
 '760679',
 '761980',
 '764147',
 '765805',
 '766166',
 '766247',
 '766607',
 '766669',
 '771282',
 '775178',
 '779375',
 '781484',
 '781869',
 '783034',
 '783110',
 '783459',
 '784471',
 '784923',
 '785142',
 '790952',
 '791029',
 '792125',
 '798131',
 '799182',
 '801509',
 '802773',
 '804079',
 '805207',
 '805942',
 '806399',
 '809095',
 '811340',
 '811993',
 '812138',
 '812288',
 '812944',
 '813443',
 '814202',
 '950584',
 '999236',
 '999300',
 '999361']

In [19]:
toy_label = pd.DataFrame({'image_id':image_list})
toy_label['image_id'] = toy_label['image_id'].astype('int64')

In [20]:
toy_label = toy_label.merge(expensiveness_df,how='left',on='image_id')
toy_label

     image_id expensiveness_category
0     1000495              mid-range
1     1001236              mid-range
2     1002344                 luxury
3     1005450                premium
4     1006260              mid-range
..        ...                    ...
995    814202                premium
996    950584                premium
997    999236             affordable
998    999300                 luxury
999    999361                premium

[1000 rows x 2 columns]

In [29]:
toy_label = toy_label.dropna()

In [30]:
toy_label['expensiveness_category'].value_counts()

mid-range     403
premium       327
luxury        178
affordable     87
Name: expensiveness_category, dtype: int64

In [31]:
toy_label.to_csv('./toy_label.csv',index=False)