In [20]:
import requests
import json
import pandas as pd


json_url = 'http://seppe.net/aa/assignment2/dataset.json'
response = requests.get(json_url)
json_data = response.json()

In [3]:
pd.DataFrame([json_data[0]['price_category']])

      code             label       slug
0  CAT_P02  A moderate spend  mid-range

In [4]:
len(json_data)

16455

In [5]:
testdata = pd.DataFrame(json_data[0]['more_details']["full_images"])
testdata['restaurant_name'] = json_data[0]['more_details']['name']
testdata['objectID'] = json_data[0]['objectID']
testdata

,image_id,image_url,restaurant_name,objectID
0,2088757,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/8...,Strofilia,78848
1,2182000,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/7...,Strofilia,78848
2,4151606,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/b...,Strofilia,78848
3,4151588,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/9...,Strofilia,78848
4,2224983,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/2...,Strofilia,78848

In [6]:
images = pd.DataFrame()
for temp_restaurant in json_data:
    temp_images = pd.DataFrame(temp_restaurant['more_details']["full_images"])
    temp_images['restaurant_name'] = temp_restaurant['more_details']['name']
    temp_images['objectID'] = temp_restaurant['objectID']
    images = pd.concat([images,temp_images],axis=0)
images

,image_id,image_url,restaurant_name,objectID
0,2088757,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/8...,Strofilia,78848
1,2182000,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/7...,Strofilia,78848
2,4151606,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/b...,Strofilia,78848
3,4151588,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/9...,Strofilia,78848
4,2224983,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/2...,Strofilia,78848
...,...,...,...,...
8,1928176,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/1...,Pod Różą,34507
9,5611477,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/0...,Pod Różą,34507
10,1928253,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/e...,Pod Różą,34507
11,5611399,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/4...,Pod Różą,34507
12,1928177,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/a...,Pod Różą,34507

In [7]:
images.to_csv('D:/KULprojectdata/big data/assignment2/images.csv',index=False)

In [8]:
cuisines = pd.DataFrame()
for temp_restaurant in json_data:
    temp_cuisines = pd.DataFrame(temp_restaurant['cuisines'])
    temp_cuisines['restaurant_name'] = temp_restaurant['more_details']['name']
    temp_cuisines['objectID'] = temp_restaurant['objectID']
    cuisines = pd.concat([cuisines,temp_cuisines],axis=0)

cuisines

        code           label            slug      restaurant_name objectID
0   TYC_1056           Greek           greek            Strofilia    78848
0   TYC_1052   Modern French   modern-french              Selecto    79182
0   TYC_1096         Seafood    seafood-1096             La Marée    79041
0   TYC_1052   Modern French   modern-french                Henri    79268
0   TYC_1096         Seafood    seafood-1096  La Belle Maraîchère    79301
..       ...             ...             ...                  ...      ...
1   TYC_1085  Modern Cuisine  modern-cuisine            Dyletanci    34510
0   TYC_1097          Polish          polish      Szara Kazimierz    34509
0   TYC_1097          Polish          polish     Europejski Grill    34508
1   TYC_1085  Modern Cuisine  modern-cuisine     Europejski Grill    34508
0   TYC_1085  Modern Cuisine  modern-cuisine             Pod Różą    34507

[21267 rows x 5 columns]

There are 275 categories of cuisines, may be we can merge some of them together? (zhejiang, hainanese, xibei can be merged as chinese food)

In [9]:
cuisines['label'].unique()

array(['Greek', 'Modern French', 'Seafood', 'Classic Cuisine', 'Organic',
       'Market Cuisine', 'Japanese', 'Belgian', 'Classic French',
       'Creative', 'Traditional Cuisine', 'Italian', 'Seasonal Cuisine',
       'Spanish', 'Sicilian', 'Country cooking', 'Asian Influences',
       'Modern Cuisine', 'International', 'Vietnamese Contemporary',
       'Meats and Grills', 'Regional Cuisine',
       'Cuisine from South West France', 'French', 'Vegetarian',
       'Home Cooking', 'Sharing', 'Contemporary', 'World Cuisine',
       'Creative French', 'French Contemporary', 'Asian', 'Korean',
       'Sushi', 'Chinese', 'Sichuan', 'Mediterranean Cuisine', 'Roman',
       'Grills', 'Thai', 'Lebanese', 'Middle Eastern', 'Vietnamese',
       'Fusion', 'Lyonnaise', 'Chicken Specialities', 'Barbecue',
       'Latin American', 'Italian Contemporary', 'Asian Contemporary',
       'Vegan', 'Spanish Contemporary', 'Flemish', 'Turkish',
       'Portuguese', 'Scandinavian', 'Cuisine from the Marches',
       'Mexican', 'South American', 'Street Food', 'Small eats',
       'Noodles', 'European Contemporary', 'Innovative', 'Cantonese',
       'Thai contemporary', 'Californian', 'Steakhouse',
       'American Contemporary', 'Yakiniku', 'Beef Specialities',
       'Peruvian', 'Ramen', 'Southern', 'American', 'Gastropub',
       'Izakaya', 'Indian', 'Caribbean', 'Campanian', 'Provençal',
       'Argentinian', 'Japanese Contemporary', 'Israeli', 'Catalan',
       'Cuisine from Aveyron', 'Savoyard', 'Teppanyaki',
       'Cheese, Fondue and Raclette', 'Filipino', 'Breton', 'Basque',
       'Alsatian', 'South East Asian', 'Corsican', 'Tempura',
       'Burgundian', 'Yakitori', 'Cuisine from Franche-Comté', 'Tunisian',
       'Shanghainese', 'Moroccan', 'Danish', 'Alpine', 'German', 'Irish',
       'Modern British', 'Traditional British', 'Malaysian',
       'Italian and Japanese', 'Taiwanese', 'Cuisine from Abruzzo',
       'Austrian', 'English', 'Brazilian', 'Ligurian', 'European',
       'South Tyrolean', 'Piedmontese', 'Pizza', 'Huaiyang', 'Shandong',
       'Beijing Cuisine', 'Taizhou', 'Hunanese', 'Yunnanese',
       'Chinese Contemporary', 'Dumplings', 'Hotpot', 'Chao Zhou',
       'Jiangzhe', 'Hubei', 'Dongbei', 'Hui Cuisine', 'Ningbo', 'Dim Sum',
       'Fujian', 'Noodles and Congee', 'Hang Zhou', 'Guizhou', 'Teochew',
       'Peranakan', 'Burmese', 'Sri Lankan', 'Asian and Western',
       'Balkan', 'Ethiopian', 'Italian-American', 'Curry',
       'North African', 'Tex-Mex', 'Russian', 'Persian', 'Bulgogi',
       'Creole', 'Milanese', 'Puerto Rican', 'Hawaiian',
       'Hunanese and Sichuan', 'Deli', 'Udon', 'Indonesian',
       'Thai and Vietnamese', 'Tuscan', 'Duck Specialities', 'Cuban',
       'Lao', 'Sukiyaki', 'Shellfish Specialities', 'Armenian',
       'Pakistani', 'Scottish', 'Northern Thai', 'Isan', 'Southern Thai',
       'Thai-Chinese', 'Rice Dishes', 'Pork Specialities',
       'Meats and Seafood', 'Andalusian', 'Castilian', 'Galician',
       'Cuisine from Alentejo', 'Japanese Steakhouse',
       'Regional European', 'Colombian', 'Asturian',
       'Unagi / Freshwater Eel', 'Tonkatsu', 'Soba', 'Shojin', 'Oden',
       'Yoshoku', 'Fugu / Pufferfish', 'Crab Specialities', 'Onigiri',
       'Emirati Cuisine', 'Venetian', 'Emilian', 'Lombardian', 'Apulian',
       'Cuisine from Lazio', 'Cuisine from the Aosta Valley', 'Umbrian',
       'Cuisine from Romagna', 'Sardinian', 'Friulian', 'Mantuan',
       'Calabrian', 'Cuisine from Basilicata', 'Sardine Specialities',
       'Cuisine from Valtellina', 'Hungarian', 'North American',
       'African', 'Cambodian', 'Shaanxi', 'Swiss', 'Singaporean',
       'Naengmyeon', 'Gomtang', 'Korean Contemporary', 'Memil-guksu',
       'Sujebi', 'Samgyetang', 'Kalguksu', 'Mandu', 'Kushiage', 'Dubu',
       'Gejang', 'Dwaeji-gukbap', 'Seolleongtang', 'Jokbal', 'Doganitang',
       'Chueotang', 'Yukhoe', 'Central Asian', 'Polish', 'Tibetan',
       'Jamaican', 'Venezuelan', 'Czech', 'Croatian', 'Bakery',
       'Okonomiyaki', 'Obanzai', 'Anago / Saltwater Eel',
       'British Contemporary', 'Egyptian', 'Hakkanese', 'Congee',
       'Shabu-shabu', 'Zhejiang', 'Hainanese', 'Xibei',
       'Cantonese Roast Meats', 'Finnish', 'Smørrebrød', 'Swedish',
       'Norwegian', 'Indian Vegetarian', 'South African', 'Somen',
       'Afghan', 'Eastern European', 'Oyster Specialities', 'Cajun',
       'Bavarian', 'Creative British', 'South Indian', 'Macanese',
       'Chiu Chow', 'Shun Tak', 'Singaporean and Malaysian', 'Xinjiang'],
      dtype=object)

In [10]:
cuisines

        code           label            slug      restaurant_name objectID
0   TYC_1056           Greek           greek            Strofilia    78848
0   TYC_1052   Modern French   modern-french              Selecto    79182
0   TYC_1096         Seafood    seafood-1096             La Marée    79041
0   TYC_1052   Modern French   modern-french                Henri    79268
0   TYC_1096         Seafood    seafood-1096  La Belle Maraîchère    79301
..       ...             ...             ...                  ...      ...
1   TYC_1085  Modern Cuisine  modern-cuisine            Dyletanci    34510
0   TYC_1097          Polish          polish      Szara Kazimierz    34509
0   TYC_1097          Polish          polish     Europejski Grill    34508
1   TYC_1085  Modern Cuisine  modern-cuisine     Europejski Grill    34508
0   TYC_1085  Modern Cuisine  modern-cuisine             Pod Różą    34507

[21267 rows x 5 columns]

In [11]:
expensiveness = pd.DataFrame()
for temp_restaurant in json_data:
    temp_expensiveness = pd.DataFrame([temp_restaurant['price_category']])
    temp_expensiveness['restaurant_name'] = temp_restaurant['more_details']['name']
    temp_expensiveness['objectID'] = temp_restaurant['objectID']
    expensiveness = pd.concat([expensiveness,temp_expensiveness],axis=0)

expensiveness

       code             label        slug      restaurant_name objectID    0
0   CAT_P02  A moderate spend   mid-range            Strofilia    78848  NaN
0   CAT_P02  A moderate spend   mid-range              Selecto    79182  NaN
0   CAT_P03  Special occasion     premium             La Marée    79041  NaN
0   CAT_P03  Special occasion     premium                Henri    79268  NaN
0   CAT_P03  Special occasion     premium  La Belle Maraîchère    79301  NaN
..      ...               ...         ...                  ...      ...  ...
0   CAT_P02  A moderate spend   mid-range              alewino    34512  NaN
0   CAT_P04  Spare no expense      luxury            Dyletanci    34510  NaN
0   CAT_P01       On a budget  affordable      Szara Kazimierz    34509  NaN
0   CAT_P04  Spare no expense      luxury     Europejski Grill    34508  NaN
0   CAT_P03  Special occasion     premium             Pod Różą    34507  NaN

[16455 rows x 6 columns]

In [14]:
expensiveness.to_csv('D:/big_data_final_projedt_2023/assignment2/expensiveness.csv',index=False)
cuisines.to_csv('D:/big_data_final_projedt_2023/assignment2/cuisines.csv',index=False)

In [16]:
images_cuisines = images.merge(cuisines,how='left',on='objectID')
images_cuisines

,image_id,image_url,restaurant_name_x,objectID,code,label,slug,restaurant_name_y
0,2088757,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/8...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia
1,2182000,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/7...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia
2,4151606,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/b...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia
3,4151588,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/9...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia
4,2224983,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/2...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia
...,...,...,...,...,...,...,...,...
152383,1928176,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/1...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą
152384,5611477,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/0...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą
152385,1928253,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/e...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą
152386,5611399,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/4...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą
152387,1928177,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/a...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą

In [17]:
images_cuisines_price = images_cuisines.merge(expensiveness,how='left',on='objectID',suffixes=('_fromcuisines','_fromprice'))
images_cuisines_price

,image_id,image_url,restaurant_name_x,objectID,code_fromcuisines,label_fromcuisines,slug_fromcuisines,restaurant_name_y,code_fromprice,label_fromprice,slug_fromprice,restaurant_name,0
0,2088757,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/8...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia,CAT_P02,A moderate spend,mid-range,Strofilia,NaN
1,2182000,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/7...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia,CAT_P02,A moderate spend,mid-range,Strofilia,NaN
2,4151606,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/b...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia,CAT_P02,A moderate spend,mid-range,Strofilia,NaN
3,4151588,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/9...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia,CAT_P02,A moderate spend,mid-range,Strofilia,NaN
4,2224983,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/2...,Strofilia,78848,TYC_1056,Greek,greek,Strofilia,CAT_P02,A moderate spend,mid-range,Strofilia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152383,1928176,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/1...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą,CAT_P03,Special occasion,premium,Pod Różą,NaN
152384,5611477,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/0...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą,CAT_P03,Special occasion,premium,Pod Różą,NaN
152385,1928253,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/e...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą,CAT_P03,Special occasion,premium,Pod Różą,NaN
152386,5611399,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/4...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą,CAT_P03,Special occasion,premium,Pod Różą,NaN
152387,1928177,https://axwwgrkdco.cloudimg.io/v7/__gmpics__/a...,Pod Różą,34507,TYC_1085,Modern Cuisine,modern-cuisine,Pod Różą,CAT_P03,Special occasion,premium,Pod Różą,NaN

In [42]:
images_cuisines_price.drop(['0'])

KeyError: "['0'] not found in axis"

In [18]:
images_cuisines_price.to_csv('D:/big_data_final_projedt_2023/assignment2/images_cuisines_price.csv',index=False)

In [19]:
import torch
x = torch.rand(5, 3)
print(x)

tensor([[0.2984, 0.9070, 0.3079],
        [0.6781, 0.0343, 0.9463],
        [0.0495, 0.0012, 0.9733],
        [0.6485, 0.9100, 0.3265],
        [0.5566, 0.9161, 0.3754]])